.typography {
  font-family: 'Roboto';
  line-height: 33px;
  color: #202002;
  font-weight: 500;
}

h1,
.h1 {
  font-size: 28px;
  margin-bottom: 7px;
}

h2,
.h2 {
  margin-bottom: 14px;
  font-size: 22px;
}
