.subtitle-h1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.5;
  color: #202002;
  letter-spacing: 0.128571px;
  font-weight: 300;
  margin-bottom: 50px;
}

.subtitle-h2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0.1px;
  color: #202002;
  opacity: 0.5;
}
